/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Markazi Text', serif;
  color: var(--text-primary);
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

button,
a {
  font-family: 'Karla', sans-serif;
  border-width: 0;
}
button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  color: var(--text-primary);
}

section {
  margin-bottom: 64px;
}

/* Root variables */
:root {
  --text-primary: #333333;
  --text-secondary: #ffffff;
  --bg-primary: #edefee;
  --bg-secondary: #495e57;
  --bg-tertiary: #dadada;
  --color-accent-primary: #f4ce14;
  --color-accent-secondary: #ee9972;
}

/* Utility styles */
.app-container {
  max-width: 1440px;
  margin: 0 auto;
}
.content-container {
  margin: 0 auto;
  max-width: 960px;
}
.flex {
  display: flex;
}
.button-primary {
  display: block;
  font-size: 16px;
  padding: 16px 20px;
  border-radius: 16px;
  border: none;
  background-color: var(--color-accent-primary);
  min-width: 180px;
}

/* Component styles */
/* Application header */
.app-header {
  display: flex;
  align-items: center;
}
.app-navigation {
  flex: 1;
}
.app-navigation ul {
  display: flex;
  justify-content: end;
  gap: 28px;
}
.app-navigation ul a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
}
.app-navigation ul a::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #f4ce14;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.app-navigation ul a:hover::before {
  transform: scaleX(1);
}

/* Banner section */
.banner {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  padding: 48px 0;
}
.banner-info {
  position: relative;
}
.banner-info header {
  margin-bottom: 12px;
}
.banner-info h1 {
  font-size: 64px;
  font-weight: 400;
  color: var(--color-accent-primary);
}
.banner-info p {
  font-size: 24px;
}
.banner-description {
  max-width: 340px;
  margin-bottom: 24px;
}
.banner-img {
  height: 420px;
  width: 330px;
  border-radius: 16px;
  position: absolute;
  top: -30px;
  right: 0;
}

/* Specials section */
.specials {
  margin-bottom: 64px;
}
.specials > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}
.specials h2 {
  font-size: 64px;
  font-weight: 400;
}
.specials-list {
  display: flex;
  justify-content: space-between;
}
.meal-card {
  border-radius: 16px;
  max-width: 290px;
  font-family: 'Karla', sans-serif;
  background-color: var(--bg-primary);
}
.meal-card img {
  max-width: 290px;
  height: 194px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.meal-card-content {
  padding: 16px;
}
.meal-card-content header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 24px;
}
.meal-card-content header span {
  color: var(--color-accent-secondary);
}
.meal-card-content p {
  margin-bottom: 46px;
  max-height: 76px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal-card-content button {
  background: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-primary);
}

/* Testimonials section */
.testimonials {
  background-color: var(--bg-tertiary);
}
.testimonials h2 {
  text-align: center;
  font-size: 46px;
  margin-bottom: 28px;
}
.testimonials-info {
  padding: 48px 0 78px 0;
}
.reviews {
  display: flex;
  justify-content: space-between;
}
.feedback-card {
  border-radius: 16px;
  padding: 28px 16px;
  max-width: 210px;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background-color: var(--bg-primary);
}
.restaurant-rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.user-feedback {
  font-style: italic;
}
.feedback-card .user-photo {
  max-width: 84px;
  border-radius: 4px;
}
.feedback-card .user-feedback-container {
  display: flex;
  column-gap: 12px;
  align-items: baseline;
  justify-content:space-between;
  margin-bottom: 16px;
}

/* About section */
.about {
  display: flex;
  font-size: 24px;
  margin-bottom: 64px;
}
.about-content-container h2 {
  font-size: 48px;
  font-weight: 500;
}
.about-content-container div {
  font-weight: 500;
  margin-bottom: 48px;
}
.about-content-container {
  flex: 1;
}
.about-photo-container {
  flex: 1;
  position: relative;
  height: 400px;
}
.about-photo-container img {
  height: 320px;
  width: auto;
  position: absolute;
  border-radius: 4px;
}
.about-photo-container img.owner-1 {
  top: 80px;
  left: 60px;
}
.about-photo-container img.owner-2 {
  top: 20px;
  right: 0;
}


/* Application footer */
.footer {
  background-color: var(--bg-secondary);
}
.footer-content {
  padding: 32px 0;
  display: flex;
  align-items: center;
  font-family: 'Karla', sans-serif;
  color: var(--text-secondary);
}
.footer-content img {
  border-radius: 4px;
}
.footer-navigation {
  flex: 1;
  padding: 32px 48px;
  display: flex;
  justify-content: space-between;
}
.footer-navigation h4 {
  margin-bottom: 24px;
  font-weight: 700;
}
.doormat-links,
.contact-links,
.social-links {
  display: flex;
  flex-direction: column;
}
.doormat-links a,
.contact-links span,
.social-links a {
  text-decoration: none;
  margin-bottom: 6px;
  color: var(--text-secondary);
}

/* Responsive rules */
@media screen and (max-width: 576px) {
  .banner-img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  section, section.banner, .footer-content {
    padding: 32px 12px;
  }

  .app-container {
    max-width: 768px;
  }
  .app-header {
    padding: 0 12px;
    flex-direction: column;
    margin-bottom: 12px;
  }
  .app-navigation ul {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .banner img {
    width: 240px;
    height: auto;
    top: -10px;
  }

  .specials-list {
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 16px;
  }

  .reviews {
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 24px;
  }

  .about {
    column-gap: 16px;
  }
  .about-photo-container img, .footer-content img {
    height: 220px;
  }
  .about-photo-container img.owner-1 {
    left: 0;
  }

  .footer-navigation {
    padding: 24px;
  }
  .footer-content img {
    display: none;
  }
}
